@import "../tokens/tokens.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $tokens-text_fontFamily_primary-value;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5em 1fr;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "main main main main main main main main main main main main";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;

  padding: 2rem 6rem;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 30rem;

  list-style: none;
}

nav > .logo {
  text-decoration: none;
}

nav > ul > li > a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: main;

  padding: 18rem 0;
}

.title {
  padding: 2rem 0;
}

button {
  padding: 0.75rem 2rem;
  border-radius: 10px;
  background-color: $tokens-color_bg_thirdary-value;
}
