@import "../tokens/tokens.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $text_fontFamily_primary;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5em 1fr;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "main main main main main main main main main main main main";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;

  padding: 2rem 6rem;

  background-color: $color_bg_text_secondary;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 30rem;

  list-style: none;
}

nav > .logo {
  color: $color_text_primary;
  text-decoration: none;
  font-weight: $text_fontWeight_extraBold;
  font-size: $text_fontSize_lg;
}

nav > ul > li > a {
  color: $color_text_primary;
  text-decoration: none;
  font-weight: $text_fontWeight_medium;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: main;

  padding: 18rem 0;
}

.title {
  padding: 2rem 0;

  color: $color-text-primary;
  font-size: $text_fontSize_xl;
  font-family: $text_fontFamily_secondary;
  font-weight: $text_fontWeight_regular;
}

button {
  padding: 0.75rem 2rem;

  background-color: $color_bg_text_primary;

  color: $color-text_secondary;
  font-weight: $text_fontWeight_extraBold;
  border: 2px solid $color-text_secondary;
  border-radius: 10px;
}
