$color_text_primary: #000000;
$color_text_secondary: #FFFFFF;
$color_bg_text_primary: #1060D5;
$color_bg_text_secondary: #89B5F6;
$text_fontFamily_primary: 'Helvetica';
$text_fontFamily_secondary: 'Roboto Slab';
$text_fontWeight_regular: 400;
$text_fontWeight_medium: 500;
$text_fontWeight_extraBold: 800;
$text_fontSize_sm: 16px;
$text_fontSize_lg: 20px;
$text_fontSize_xl: 56px;
