$tokens-color_text_primary-value: #020b18;
$tokens-color_text_primary-type: color;
$tokens-color_bg_primary-value: #ffffff;
$tokens-color_bg_primary-type: color;
$tokens-color_bg_thirdary-value: #1060d5;
$tokens-color_bg_thirdary-type: color;
$tokens-text_fontFamily_primary-value: Helvetica;
$tokens-text_fontFamily_primary-type: fontFamilies;
$themes: ();
$metadata-tokenSetOrder: (tokens);
